::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(1,1,1,0.0001); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(1,1,1,0.0001);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(1,1,1,0.0001);
  }